<header class="nav-surface p-3 w-full fixed top-0 z-50">
    <div class="flex items-center px-10 mx-auto gap-6">
        <a class="max-h-16 text-white border-r-white border-r-2 pr-6">
            Voxly app
        </a>

        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            <a>A different</a>
            <a>way to learn</a>
            <a>English</a>
        </nav>

        <div class="flex ml-auto gap-3">
            <form class="flex items-center gap-3">
                <input type="text" class="input" placeholder="Email" />
                <input type="password" class="input" placeholder="Password" />
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</header>